<!DOCTYPE html>
<html class="text-foreground bg-background bg-linearGradient h-screen">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,maximum-scale=2.0,initial-scale=1,user-scalable=no">
        <title>w8mngr</title>
    </head>
    <body class="text-inherit h-full">
        <div id="root" class="h-full"></div>
        <!-- Dependencies -->
        <script src="<%= htmlWebpackPlugin.options.react %>"></script>
        <script src="<%= htmlWebpackPlugin.options.reactDom %>"></script>
    </body>
</html>