@tailwind preflight;
@tailwind components;

*,
*:after,
*:before {
  box-sizing: border-box !important;
}

h3,
h4,
h5 {
  text-transform: uppercase;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

::placeholder {
  opacity: 0.75;
  text-transform: uppercase;
  @apply text-xs;
}

@tailwind utilities;
