*,
*:after,
*:before {
  box-sizing: border-box !important;
  color: inherit;
}

a {
  text-decoration: none;
}

h3,
h4,
h5 {
  text-transform: uppercase;
}

svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

a svg,
button svg {
  opacity: 0.75;
}

a:hover svg,
a:focus svg,
button:hover svg,
button:focus svg {
  opacity: 1;
}

::placeholder {
  opacity: 0.75;
  text-transform: uppercase;
  @apply text-xs;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select option {
  all: initial;
  @apply font-sans;
}

select::-ms-expand {
  display: none;
}
