node_modules
.vscode
*.
public/*
!public/.gitkeep
*.log
api/graphql-types.ts
api/graphql.js
api/graphql.js.map
dev.sqlite3
dev.legacyData.sqlite3
client/index.js
client/index.js.map
client/tailwind.css
client/generated.ts
functions/*
root.crt
.env
dumps/*
!dumps/.gitkeep
client-build
postgres-data
