node_modules
.vscode
*.
public/*
!public/.gitkeep
*.log
api/generated.ts
api/*.js
api/*.js.map
dev.sqlite3
dev.legacyData.sqlite3
client/index.js
client/index.js.map
client/tailwind.css
client/generated.ts
functions/*
root.crt
.env
dumps/*
!dumps/.gitkeep
client-build
postgres-data
.yarn/cache
.yarn/install-state.gz
scripts/*.js
scripts/*.js.map
tmp